@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
* {
  font-family: "Dosis", sans-serif;
}
.enterTodo {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addTask {
  fill: rgb(1, 78, 150);
  color: white;
}

.removeTask {
  fill: red;
  color: white;
}
table {
  background-color: rgb(39, 35, 93);
  color: white;
  border-radius: 10px;
}

th {
  border-bottom: 2px solid white;
  padding: 20px 20px;
}

tr {
  border-bottom: 2px solid white;
  margin: 50px 50px;
}

td {
  padding: 10px 10px;
  margin: 10px 10px;
}

.line {
  text-decoration: line-through;
}
